* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    border: 3px solid black;
    padding: 1.5rem;
    background-color:rgb(62, 62, 62);
    border-radius: 1rem;
}

.output {
    display: flex;
}

.screen {
    background-color: rgb(169, 169, 169);
    padding: 2rem;
    margin: 1rem;
    width: 100%;
    border-radius: 2rem;
}

button {
    padding: 3rem;
    font-size: 3rem;
    width: 10rem;
    margin: 1rem;
    border-radius: 2rem;
    border: 1px solid rgb(129, 129, 129);
}

.output button {
    background-color: orange;
}
